.overlay {  
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    animation: padeIn .2s cubic-bezier(0,0,0,.7);
    position: fixed;
}

.extension{
    position: fixed;
    width: 100%;
    height: 520px;
    background: #fff;

    animation: padeIn .2s cubic-bezier(0,0,0,.7), slideDown .2s cubic-bezier(0,0,0,.7);
    transform-origin: top;
}

.extension>.container {
    display: flex;
    margin: auto;
    height: inherit;
}

/* rest list */
.extension .rest-list {
    font-size: 17px;
    font-weight: 600;
}

.extension .rest-list li {
    position: relative;
    margin-bottom: 30px;
    padding-right: 20px;
    box-sizing: border-box;

    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.extension .rest-list li>button{
    position: absolute;
    right: 0;
}

@media screen and (max-width:767px) {
    .overlay {
        display: none;
    }
}


@keyframes padeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}