.overlay {  
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    animation: padeIn .2s cubic-bezier(0,0,0,.7);
    position: fixed;
}

.extension{
    position: fixed;
    width: 100%;
    height: 520px;
    background: #fff;

    animation: padeIn .2s cubic-bezier(0,0,0,.7), slideDown .2s cubic-bezier(0,0,0,.7);
    transform-origin: top;
}

.extension>.container {
    display: flex;
    max-width: 1160px;
    margin: auto;
    height: inherit;
}

.extension .rest-list {
    font-size: 17px;
    font-weight: 600;
}

.extension .rest-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.extension .rest-list li::after {
    content: '>';
}

@media screen and (max-width:767px) {
    .overlay {
        display: none;
    }
}

@keyframes padeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}