.nav-list {
    display: flex;
    height: 100%;
}

.nav-list>li {
    display: inline-block;
    height: inherit;
    padding: 15px;
    box-sizing: border-box;
    
    font-weight: 600;
    cursor: pointer;
}
    .nav-list>li:hover{
        border-bottom: 2px solid #ddd;
    }

@media screen and (max-width:767px) {
    .nav-list>li.mobile-hide {
        display: none;
    }
}